<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section}, 'stats')}">
<head>
    <title>create stat</title>
</head>
<body>
<section>

    <div class="col-sm-12">
        <form action=""
              th:action="@{/stats/create}" th:object="${stat}" method="post">
            <div class="form-group">

                <label for="weight">Date time:</label>
                <input type="datetime-local" class="form-control" id="dateTime"
                       name="dateTime"
                       th:field="${stat.dateTime}"
                       placeholder="Enter date time">

            </div>
            <div class="form-group">
                <label for="weight">Weight:</label>
                <input type="text" class="form-control" id="weight"
                       name="value"
                       placeholder="Enter your weight">
            </div>

        </form>
    </div>

</section>

</body>
</html>